@import '../../../../../../../helpers/_variables'
.postal
  padding-bottom: 70px

  &__rows
    display: flex
    flex-wrap: wrap

  &__left-column
    flex: 0 0 33.333333%
    max-width: 33.333333%

  &__text
    font-family: $second-font
    line-height: 30px
    padding-bottom: 10px

    &:last-child
      padding-bottom: 0
      