$main-font: "Open Sans Regular", sans-serif
$second-font: "Rubik", sans-serif
$bold-font: "Rubik Bold", sans-serif

$main-color: #0e2f4b
$light-main-color: #99a2aa
$accent-color: #fec524
$white: white
$light-grey: #f8f8f8
$red: #F95050
$green: #A6D5D5
$yellow: #FFD50A
$purple: #9E50E3
$blue: #4A90E2
